<div class="container">
  <div class="row">
    <div class="form col-md-5 col-md-offset-4">
        <%= form_for @user do |f| %>
          <h3>Register Your Phone Number</h3>

            <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>  
          <h3>Set Your Reminder frequencies</h3>
            <h3>Email</h3>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#weekly_email_modal">Weekly</button>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#daily_email_modal">Daily</button>
                <div id="weekly_email_modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set Day & Time</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please select the day and time you would like to receive your weekly emails.</p>
                        <p><%= select_date(Time.now) %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                <div id="daily_email_modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select A Time</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please select what time you would like to receive your daily emails.</p>
                        <p><%= select_time(Time.now) %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
          
            <h3>Text</h3>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#weekly_sms_modal">Weekly</button>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#daily_sms_modal">Daily</button>
                <div id="weekly_sms_modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set Day & Time</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please select the day and time you would like to receive your weekly text reminders.</p>
                        <p><%= select_date(Time.now) %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                <div id="daily_sms_modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select A Time</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please select what time you would like to receive your daily emails.</p>
                        <p><%= select_time(Time.now) %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>                
        <div class="form-group">
          <br><p><%= f.submit "Update", class: "btn btn-default" %></p>
        </div>
        <% end %>
    </div> 
  </div>     
</div>    