<div class="container">
   <div class="tileContentTop">
       <h3><%= link_to motivation.user.full_name, user_path(motivation.user_id) %></h3>
   </div>
   
   <div class="tileImage">
       <%= link_to (image_tag motivation.image.url(:medium)),motivation %>
   </div>

   <div class="tileContent">
       <h4><%= motivation.title %></h4>
       <p><%= motivation.body %></p>
   </div>

   <div class="editmotivation">
       <%if current_user and current_user.id == motivation.user_id %>
       <%= link_to 'Edit motivation', edit_motivation_path(motivation) %>
       <%end%>
   </div> 
</div>   