<div class="container">
	<div class="row">
		<div class="col-md-2">
		  <ul class="nav nav-sidebar nav-stacked">
		    <li><%= link_to "Vision", assessments_path %></li>
		    <li><%= link_to "Motivation", motivations_path %></li>
		    <li><%= link_to "Action Plan", @user %></li>
		    <li><%= link_to "Account Settings", edit_user_registration_path %></li>
		    <li><%= link_to "Reminder Settings", reminders_path %></li>        
		  </ul>
		</div>


		<div class="col-md-6">
			<%= render @user.motivations.reverse %>
		</div>
	</div>
</div>

