<!DOCTYPE html>
<html lang="en">
<head>
	<%= favicon_link_tag 'favicon.ico' %>	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sprout</title>	
	<%= csrf_meta_tags %>	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Latest compiled and minified JavaScript -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>	
  
</head>
<body>

<div class="container">
	<div class="navbar-wrapper">
	  <div class="container">

	    <nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <div class="navbar-brand">
	    	      	<%= link_to image_tag("sproutlogo2.png"), root_path  %>
    	      		<% if current_user %>
									<span>Hello <%= current_user.first_name %></span>
								<% end %>
				    </div>  
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <div class="nav navbar-nav navbar-right">
	            <% if !current_user %>            
		            <li><%= link_to "Log In", user_session_path%></li>
    				    <li><%= link_to "Sign Up", new_user_registration_path %>
			          <li>
	            <% else %>
	            	<li><%= link_to "My Profile", user_path(current_user) %></li>
		            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
						</div>
		          <% end %>
	        </div>
	      </div>
	    </nav>

	  </div>
	</div>	

	<% if flash[:notice] %>
		<div class="notice fade in">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		    <span class="sr-only">Close</span>
		  </button>
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="notice fade in">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		    <span class="sr-only">Close</span>
		  </button>		
			<%= flash[:alert] %>
		</div>
	<% end %>

<%= yield %>

</div>
</div> <!-- container -->
</body>
</html>
